<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.wedding.mapper.App_pictureMapper">
	
	<select id="selectPictures" resultType="map">
    	select * from app_picture
        <if test="condition != null">
            where img_url like CONCAT('%',#{condition},'%')
        </if>
        order by SORT asc
    </select>
</mapper>
